body	{
	font-family: helvetica, verdana, sans-serif;
	font-size: 16px;
}
h1	{
	font-size: 20px;
	font-weight: bold;
}
#construction	{
	font-size: 24px;
	text-align: center;
}
#wrapper	{
	padding-top: 100px;
	padding-left: 20%;
	padding-right: 20%;
}
footer	{
	padding-left: 20%;
}