body	{
	margin: 0px;
	font-family: helvetica, verdana, sans-serif;
	font-size: 16px;
	height: 100%;
}
div	{

}
h1	{
	font-size: 20px;
	padding-top: 40px;
}
#wrapper	{
	width: 60%;
	margin: auto;
	min-height: 100%;
}
#logo	{
	background-color: ;
	text-align: center;
	margin: auto;
}
#construction	{
	text-align: center;
	color: blue; font-size: 24px; font-weight: bold;
	padding: 20px;
	margin: auto;
}
#motto	{
	padding: 20px;
	margin: auto;
	text-align: center; font-size: 20px;
}
#textleft	{
	float: left;
	width: 50%;
	line-height: 125%
}
#van	{
	float: right;
	width: 50%;
	height: auto;
}
#footer	{
	position: absolute;
	width: inherit;
	bottom: 20px;
}